# Default ignored files
/../../../../../../../../:my/js/.idea/shelf/
/../../../../../../../../:my/js/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:my/js/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../:my/js/.idea/dataSources/
/../../../../../../../../:my/js/.idea/dataSources.local.xml
